main {
    margin-top: -1.25rem !important;
    margin-bottom: -1.25rem !important;
}

.gradient-bg-bw {
    background: var(--wp--preset--color--black);
    background: linear-gradient(180deg, var(--wp--preset--color--black) 20%, var(--wp--preset--color--white) 20%);
}

.gradient-bg-red {
    background: var(--wp--preset--color--base);
    background: linear-gradient(180deg, var(--wp--preset--color--base) 20%, var(--wp--preset--color--white) 20%);
}

.gradient-bg-gw {
    background: #F7F7F7;
    background: linear-gradient(180deg, #F7F7F7 50%, var(--wp--preset--color--white) 50%);
}

.is-style-fill {
    .wp-block-button__link {
        animation: color-fill 1s forwards;
        &:hover {
            background-color: var(--wp--preset--color--base);
            border-right-color: var(--wp--preset--color--contrast) !important;
            transition: background-color 1000ms linear;
        }
    }
}

.wp-block-button {
    .wp-block-button__link:is(.has-contrast-background-color) {
        &:hover {
            background-color: var(--wp--preset--color--base) !important;
            border-right-color: var(--wp--preset--color--contrast) !important;
            transition: background-color 1000ms linear;
        }
    }
}

:where(.wp-site-blocks) > * {
    margin-block-start: 0;
}

.wp-block-navigation:not(.has-background) {
    .wp-block-navigation__responsive-container:is(.is-menu-open) {
        height: 100vh;
        background-color: var(--wp--preset--color--black);
    
        .wp-block-navigation__responsive-container-content,
        .wp-block-navigation__responsive-close {
            height: 100%;
        }

        .wp-block-navigation__responsive-container-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ul {
                justify-content: center;
                align-items: center;

                li {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

body:has(.is-menu-open) {
    overflow: hidden;

    form {
        position: relative;
        z-index: -1;
    }
}