.wp-block-group:is(.go-tabs-wrapper) {
    .wp-block-cloudcatch-tabs__container {
        grid-template-columns: repeat(2, auto) auto !important;

        .go-tab {
            text-align: center;

            &.active {
                background-color: var(--wp--preset--color--black);
                border-bottom: 1px solid #f8f8f8;
                color: var(--wp--preset--color--white);
            }
        }
    }
}